body{
    margin:0
}


a{
    color: black;
}

.oculto{
    display:none
}


.splash{
    height: 720px;
    width: 340px;
    text-align: center;
    margin:0
}

.transicion{
    height: 720px;
    width: 340px;
    text-align: center;
    margin:0
}

.inicio{
    background: rgb(25, 0, 255);
    height: 720px;
    width: 340px;
    text-align: center;
    margin:0
}

#tituloini{
    margin-top: 250px;
}


#separacion{
    height: 20px;
    width: 200px;
}

.play{
    background: rgb(133, 185, 9);
    height: 720px;
    width: 340px;
    margin:0
}

.indicadoresPlay{
    display: inline-block;
    margin:15px;
}

#juego{
    background: black;
    height: 270px;
    width: 270px;
    margin-left: 35px;
    margin-top: 50px;
}

#logo1{

    margin-top:10px;
    margin-left:20px;
    
}

#menubtn1{
    margin-top:20px;
    margin-left:70px;
}
#pausabtn1{
    margin-top:20px;
    margin-left: 145px;
}

.instrucciones{
    background: rgb(236, 221, 4);
    height: 720px;
    width: 340px;
    text-align: center;
    margin:0;
    font-family: 'Raleway';
}

.instrucciones p{
    margin: 0%;
}

.creditos{
    background: rgb(243, 5, 223);
    height: 720px;
    width: 340px;
    text-align: center;
    margin:0;
    font-family: 'Raleway';
}
.creditos h2{
    font-family: 'Raleway';
}

#creditosttl{
    margin-top: 60px;
}