body{
    margin:0
}


a{
    color: black;
}

.oculto{
    display:none
}


.splash{
    height: 720px;
    width: 340px;
    text-align: center;
    margin:0
}

.transicion{
    height: 720px;
    width: 340px;
    text-align: center;
    margin:0
}

.inicio{
    background: url('C:/Users/david/Desktop/Universidad/Semestre 7/Aplicaciones moviles/juego/img/fondoinicio.png');
    height: 720px;
    width: 340px;
    text-align: center;
    margin:0
}

#cabezeraini{
    position: relative;
    width: inherit;

}

#herbariobtn{
    position: absolute;
    right: 20px;
}

#tituloini{
    margin-top: 200px;
}


#separacion{
    height: 20px;
    width: 200px;
}

.play{
    background:url('C:/Users/david/Desktop/Universidad/Semestre 7/Aplicaciones moviles/juego/img/fondojuego.png');
    height: 720px;
    width: 340px;
    margin:0
}

.indicadoresPlay{
    display: inline-block;
    margin:15px;
}

#juego{
    background: black;
    height: 270px;
    width: 270px;
    margin-left: 35px;
    margin-top: 50px;
}

#logo1{

    margin-top:10px;
    margin-left:100px;
    
}
#puntaje1{
    margin-left: 30px;
}

.puntaje{
    display: inline-block;
    background: url('C:/Users/david/Desktop/Universidad/Semestre 7/Aplicaciones moviles/juego/img/Puntaje.png');
    width: 134px;
    height: 82px;
    text-align: center;
}

.puntaje h4{
    font-family: 'Raleway';
    margin-top: 10px;
    margin-bottom: 10px;
}

#menubtncontainer{
    width: inherit;
    text-align: center;
}

#menubtn1{
    margin-top:20px;
    /*margin-left:100px;*/
}

.instrucciones{
    background: url('C:/Users/david/Desktop/Universidad/Semestre 7/Aplicaciones moviles/juego/img/fondoinstrucciones.png');
    height: 720px;
    width: 340px;
    text-align: center;
    margin:0;
    font-family: 'Raleway';
}

.instrucciones p{
    margin: 0%;
}

#jugarbtn{
    margin-top: 600px;
}

.creditos{
    background: url('C:/Users/david/Desktop/Universidad/Semestre 7/Aplicaciones moviles/juego/img/fondocreditos.png');
    height: 720px;
    width: 340px;
    text-align: center;
    margin:0;
    font-family: 'Raleway';
}

#volverbtn{
    margin-top: 600px;
}

.herbario{
    background: red;
    height: 720px;
    width: 340px;
    text-align: center;
    margin:0;
    font-family: 'Raleway';
}

.containerbtnherb{
    width: inherit;
}

